<h1>production component</h1>
<h2>{{item.name}}</h2>
<div *ngIf="item.components">
    Components needed:
    <div *ngFor='let component of item.components'>
         ------------<img src={{GetItemByName(component.name).img}}>{{component.name}} {{component.inputPerMinute}}/min
        <div *ngIf="GetItemByName(component.name).components">
            <div *ngFor='let component2 of GetItemByName(component.name).components'>
                --------------------<img src={{GetItemByName(component2.name).img}}>{{component2.name}} 
                <div *ngIf="GetItemByName(component2.name).components">
                    <div *ngFor='let component3 of GetItemByName(component2.name).components'>
                        ------------------------------<img src={{GetItemByName(component3.name).img}}>{{component3.name}}
                        <div *ngIf="GetItemByName(component3.name).components">
                            <div *ngFor='let component4 of GetItemByName(component3.name).components'>
                                ----------------------------------------<img src={{GetItemByName(component4.name).img}}>{{component4.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
