<form class="example-form">
  <mat-form-field>
    <mat-label>Item</mat-label>
    <mat-select [(value)]="selectedItem">
      <mat-select-trigger>
        <img src={{selectedItem.img}} width='25' style="vertical-align: middle;"> {{selectedItem.name}} 
      </mat-select-trigger>
      <mat-option *ngFor="let item of items" [value]="item" >
        <img src='{{item.img}}' width="25" style="vertical-align: middle;"> {{item.name}}  
      </mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Production per minute</mat-label>
    <input matInput placeholder="number" name='amountNeeded' type="number"  [(ngModel)]='amountNeeded'>
  </mat-form-field>
  


<span *ngFor='let component of selectedItem.components'>{{component.name}}: {{component.inputPerMinute}}</span>
<mat-grid-list cols=2>
  <mat-grid-tile><sf-production [item]='selectedItem' [items]='items'></sf-production></mat-grid-tile>
  <mat-grid-tile><sf-production2 [selectedItem]='selectedItem'  [amountNeeded]='amountNeeded'></sf-production2></mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>