<form class="example-form" >
  <mat-form-field>
    <mat-label>Item</mat-label>
    <mat-select [(value)]="selectedItem">
      <mat-select-trigger *ngIf="selectedItem">
        <img src={{selectedItem.img}} width='25' style="vertical-align: middle;"> {{selectedItem.name}} 
      </mat-select-trigger>
      <mat-option *ngFor="let item of items" [value]="item" >
        <img src='{{item.img}}' width="25" style="vertical-align: middle;"> {{item.name}}  
      </mat-option>
      </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Production per minute</mat-label>
    <input matInput placeholder="number" name='amountNeeded' type="number"  [(ngModel)]='amountNeeded'>
  </mat-form-field>
</form>


<span *ngFor='let component of selectedItem?.components'>{{component?.name}}: {{component?.inputPerMinute}}</span>
<mat-grid-list cols=2>
  <mat-grid-tile>
    <mat-selection-list multiple='false' *ngFor="let item of items" [(ngModel)]="selectedRecipe">
      <div *ngIf='item.recipes.length > 1' >
        <mat-list-option  *ngFor="let recipe of item.recipes" [value]='recipe.name' >
          {{recipe.name}}
        </mat-list-option>
      </div>
      
    </mat-selection-list>
    Selected: {{ selectedRecipe }}
  </mat-grid-tile>
  <mat-grid-tile><sf-production2 [selectedItem]='selectedItem'  [amountNeeded]='amountNeeded'></sf-production2></mat-grid-tile>
</mat-grid-list>

